
body {
	word-wrap: break-word;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	@include adjust-font-size-to($body-font-size);
	background: #eaebf0;
	color: #999;
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
h1 {
	body.no-h1 &,
	body.views-listing_pages-page_2 & {
		@extend .element-invisible;
	}
	font-weight: bold;
	color: #666;
	@include ems_font_size(24px, $body-font-size);
	line-height: 1em;
	padding-bottom: 3px;
	border-bottom: solid 1px #ccc;
}
h2 {
	color: #666;
	@include ems_font_size(16px, $body-font-size);
	font-weight: bold;
	line-height: 1em;
}
.centred-strip {
	width: 940px;
	margin: 0 auto;
}
a, li a.active, input {
	color: #999;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&.btn {
		display: block;
		background: #2c3e50 none;
		color: #fff;
		@include ems_font_size(15px, $body-font-size);
		text-transform: uppercase;
		line-height: 40px;
		text-align: center;
		height: 40px;
		@include border-radius(4px);
		border: none;
		cursor: pointer;
		&:hover, &.active {
			text-decoration: none;
			background-color: #3498db;
			color: #fff;
		}
	}
	&.btn-icon {
		text-align: left;
		padding-left: 36px;
		background-position: 10px center;
		background-repeat: no-repeat;
	}
}